TEMA5/daw.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="cfgs">
        <xs:complexType>
            <xs:sequence>

                <xs:element name="modulo" maxOccurs="unbounded">

                    <xs:complexType>
                        <xs:sequence>

                            <xs:element name="nombre" type="xs:string"/>

                            <xs:element name="descripcion" type="xs:string"/>

                            <xs:element name="codigo" type="xs:string"/>

                            <xs:element name="profesor" type="xs:string"/>

                            <xs:element name="fechas">
                                <xs:complexType>
                                    <xs:sequence>

                                        <xs:element name="inicio">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="dia" type="xs:integer"/>
                                                    <xs:element name="mes" type="xs:integer"/>
                                                    <xs:element name="anio" type="xs:integer"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>

                                        <xs:element name="fin">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="dia" type="xs:integer"/>
                                                    <xs:element name="mes" type="xs:integer"/>
                                                    <xs:element name="anio" type="xs:integer"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>

                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>

                        </xs:sequence>
                    </xs:complexType>

                </xs:element>

            </xs:sequence>

            <xs:attribute name="nombre" type="xs:string" use="required"/>

        </xs:complexType>
    </xs:element>

</xs:schema>
